
QuizAuto/.vs/QuizAuto/v15/Server/sqlite3/db.lock
QuizAuto/.vs/QuizAuto/v15/.suo
QuizAuto/QuizAuto/QuizAuto.Android/bin/Debug/com.companyname.QuizAuto.apk
QuizAuto/QuizAuto/QuizAuto.Android/bin/Debug/QuizAuto.Android.dll
QuizAuto/QuizAuto/QuizAuto.Android/bin/Debug/QuizAuto.dll
QuizAuto/QuizAuto/QuizAuto.Android/bin/Debug/QuizAuto.dll.mdb
QuizAuto/QuizAuto/QuizAuto.Android/bin/Debug/QuizAuto.pdb
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/_WarningCodes
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/android/assets/QuizAuto.Android.dll
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/android/assets/QuizAuto.dll
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/android/assets/QuizAuto.dll.mdb
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/linkdst/QuizAuto.Android.dll
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/linksrc/QuizAuto.Android.dll
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/linksrc/QuizAuto.dll
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/linksrc/QuizAuto.dll.mdb
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/QuizAuto.Android.csproj.FileListAbsolute.txt
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/QuizAuto.Android.csprojAssemblyReference.cache
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/QuizAuto.Android.dll
QuizAuto/QuizAuto/QuizAuto/bin/Debug/netstandard2.0/QuizAuto.dll
QuizAuto/QuizAuto/QuizAuto/bin/Debug/netstandard2.0/QuizAuto.dll.mdb
QuizAuto/QuizAuto/QuizAuto/bin/Debug/netstandard2.0/QuizAuto.pdb
QuizAuto/QuizAuto/QuizAuto/obj/Debug/netstandard2.0/QuizAuto.dll
QuizAuto/QuizAuto/QuizAuto/obj/Debug/netstandard2.0/QuizAuto.pdb
QuizAuto/QuizAuto/QuizAuto/bin/Debug/netstandard2.0/QuizAuto.pdb
QuizAuto/QuizAuto/QuizAuto/bin/Debug/netstandard2.0/QuizAuto.dll.mdb
QuizAuto/QuizAuto/QuizAuto/bin/Debug/netstandard2.0/QuizAuto.dll
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/QuizAuto.Android.dll
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/QuizAuto.Android.csprojAssemblyReference.cache
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/linksrc/QuizAuto.dll.mdb
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/linksrc/QuizAuto.dll
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/linksrc/QuizAuto.Android.dll
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/linkdst/QuizAuto.Android.dll
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/android/assets/QuizAuto.dll.mdb
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/android/assets/QuizAuto.dll
QuizAuto/QuizAuto/QuizAuto.Android/obj/Debug/80/android/assets/QuizAuto.Android.dll
QuizAuto/QuizAuto/QuizAuto.Android/bin/Debug/QuizAuto.pdb
QuizAuto/QuizAuto/QuizAuto.Android/bin/Debug/QuizAuto.dll.mdb
QuizAuto/QuizAuto/QuizAuto.Android/bin/Debug/QuizAuto.dll
QuizAuto/QuizAuto/QuizAuto.Android/bin/Debug/QuizAuto.Android.dll
QuizAuto/.vs/QuizAuto/v15/.suo
QuizAuto/QuizAuto/QuizAuto/obj/Debug/netstandard2.0/QuizAuto.dll
QuizAuto/QuizAuto/QuizAuto/obj/Debug/netstandard2.0/QuizAuto.pdb
